@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ASP.NET Core Web App</h1>
    <p>You can visit my GitHub repository for this project  <a href="https://github.com/Stas-Kloyzner/W3-ASP.NET-Core-Web-App">HERE</a>.</p>
</div>
